<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|title }}</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <p>{{ user }}</p>
    <p>{% now "d.m.Y" %}</p>
    {% for item in products %}
        <h4>Товар: {{ item.name }}</h4>
        <p>цена: {{ item.price }}</p>
    {% endfor %}

    {% if products_sale %}
        {% for item in products_sale %}
            <h2 style="color: red">{{ item.name }}</h2>
            <p style="color: red">{{ item.price }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>

